/*img{
	height: 80vh;
	width: 100vh;
}*/

.carousel-item{
	height: 100vh;
	min-height: 300px;
	background: no-repeat scroll center scroll;
	-webkit-background-size: cover;
    background-size: cover ;

}
.carousel-item::before{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
8
}
.map{
	background: url(images/map.jpg) no-repeat center;
	opacity: 0.8;
	margin: 2%;
	background-size: cover;
	background-attachment: fixed;
	
}
.parallax{
	background: url('images/p1.png') no-repeat center;
	background-size: cover;
	opacity: 0.8;
	background-attachment: fixed;
}
.aboutus{
	color: white;
	font-size: 210%;
}
.aboutus h1 {
	color: white;

}
.aboutus h2 {
	color: white;

}
.nav{
	font-size: 120%;
}
.connect{
	font-size: 140%;

}
.box{
	background: url(images/legal.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.9;
	
}
.gallery{
	background: url(images/gallery2.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.9;
	

}
.gallery img:hover{
	transform: scale(1.5);
}
.title-font{
	color: white;
	font-size: 120%;
}
.leading-relaxed{
	color: white;
}